<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Place</h2>

<%= form_tag places_url do %>
  <p><label>Title:</label> <input type="text" name="title" size="30" maxlength="255" required></p>
  <p><label>Photo URL:</label> <input type="url" name="url" size="80"></p>
  <p><label>Price:</label> <input type="number" name="price" min="0" step="0.01" required></p>
  <p><label>Description:</label></p>
  <textarea name="desc" cols="80" rows="3" maxlength="1000" required></textarea>
  <p><button>Submit</button></p>
<% end %>
